@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');



body {
    margin: 0;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #1a1463;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 400;
}

header ::after{
    content: '';
    display: table;
    clear: both;
    

}

.logo {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 3px;
    padding-top: 35px;
    padding-right: 20px;
    position: relative;
}

nav ul > li > a {
    color: #fefefe;
    text-decoration: none;
}

nav ul > li > a:hover {
    color: #6c6c6c;
}





